@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(../images/fondo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50%; }

.fondo {
  background: #c0fdff;
  background: radial-gradient(circle, #f0eaea 0%, #d0d1ff 80%); }

.fondo--claro {
  background-color: #efe6fb; }

.titulo {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 60px; }

.subtitulo {
  font-family: 'Jost', sans-serif;
  padding-bottom: 30px; }

.texto, .subtitulo--center, .subtitulo--big {
  font-family: 'Jost', sans-serif;
  font-size: 1.2em; }

.subtitulo--center {
  font-size: 1.8em;
  text-align: center; }

.subtitulo--big {
  font-size: 2em; }

.wspLink {
  display: block;
  width: 70px;
  height: 70px;
  background-color: #ebe9e9;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 10%;
  text-align: center;
  padding-top: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 999; }

.titulo {
  font-size: 5em; }

.subtitulo {
  font-size: 1.8em; }

.navbar {
  background: white;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 20%, #ddc9f6 100%); }
  .navbar .navbar-brand {
    font-family: 'Dancing Script', cursive; }
  .navbar .nav-link {
    font-family: 'Jost', sans-serif; }
  .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

/* Index */
.index__box--left {
  height: 300px;
  width: 780px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  background-color: rgba(250, 231, 251, 0.75);
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  animation: slideInRight 2s; }
  .index__box--left p {
    margin: 5px; }
  .index__box--left .index__imagen--left {
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    right: 75px; }

.index__box--right {
  height: 300px;
  width: 780px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  background-color: rgba(250, 231, 251, 0.75);
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  animation: slideInLeft 2s; }
  .index__box--right .index__imagen--right {
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 75px; }
  .index__box--right p {
    margin: 5px; }

/* Servicios */
.servicios__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 900px;
  padding: 20px;
  margin: 15px;
  background-color: rgba(250, 231, 251, 0.75);
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .servicios__box .servicios__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px; }
  .servicios__box img {
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.accordion {
  width: 950px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .accordion .accordion-button {
    font-family: 'Jost', sans-serif;
    font-size: 1em; }

/* Precios */
.card {
  width: 300px;
  height: 250px;
  margin: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .card .precios__texto {
    font-family: 'Jost', sans-serif;
    font-size: 2.3em;
    text-align: center;
    line-height: 1; }
  .card .btn {
    color: white;
    background-color: #a379db; }

/* Promociones */
.main__promociones {
  height: 350px; }
  .main__promociones .carousel {
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
    .main__promociones .carousel .promociones__box {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 300px;
      width: 600px;
      background: #c0fdff;
      background: radial-gradient(circle, #f0eaea 0%, #d0d1ff 80%);
      border-radius: 50px; }
      .main__promociones .carousel .promociones__box .texto--promociones {
        font-family: 'Jost', sans-serif;
        font-size: 1.2em;
        width: 300px;
        text-align: center; }

/* Galeria */
.box__galeria {
  width: 1020px;
  height: 862px;
  display: flex;
  flex-wrap: wrap; }
  .box__galeria img {
    margin: 2px; }
  .box__galeria .imagen__0 {
    height: 400px;
    width: 200px; }
    .box__galeria .imagen__0:hover {
      transform: scale(1.3) translate(20%, 15%);
      z-index: 999;
      transition: transform 1s;
      border: solid 2px white;
      transition-delay: 100ms; }
  .box__galeria .imagen__1 {
    height: 200px;
    width: 300px; }
    .box__galeria .imagen__1:hover {
      transform: scale(1.5) translate(10%, 25%);
      z-index: 999;
      transition: transform 1s;
      border: solid 2px white;
      transition-delay: 100ms; }
  .box__galeria .imagen__2 {
    height: 200px;
    width: 500px; }
    .box__galeria .imagen__2:hover {
      transform: scale(1.3) translate(-20%, 25%);
      z-index: 999;
      transition: transform 1s;
      border: solid 2px white;
      transition-delay: 100ms; }
  .box__galeria .imagen__3 {
    height: 300px;
    width: 608px;
    position: relative;
    bottom: 200px;
    left: 204px; }
    .box__galeria .imagen__3:hover {
      transform: scale(1.2);
      z-index: 999;
      transition: transform 1s;
      border: solid 2px white;
      transition-delay: 100ms; }
  .box__galeria .imagen__4, .box__galeria .imagen__12, .box__galeria .imagen__13 {
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 100%;
    border: solid 4px white;
    right: 500px;
    bottom: 60px;
    z-index: 995; }
    .box__galeria .imagen__4:hover, .box__galeria .imagen__12:hover, .box__galeria .imagen__13:hover {
      transform: scale(1.5) translate(20%, 10%);
      z-index: 999;
      transition: transform 1s;
      border: solid 2px white;
      transition-delay: 100ms; }
  .box__galeria .imagen__5 {
    height: 250px;
    width: 200px;
    position: relative;
    right: 816px; }
    .box__galeria .imagen__5:hover {
      transform: scale(1.5) translate(20%, 10%);
      z-index: 999;
      transition: transform 1s;
      border: solid 2px white;
      transition-delay: 100ms; }
  .box__galeria .imagen__6 {
    height: 200px;
    width: 200px;
    position: relative;
    bottom: 50px; }
    .box__galeria .imagen__6:hover {
      transform: scale(1.5) translate(20%, -20%);
      z-index: 999;
      transition: transform 1s;
      border: solid 2px white;
      transition-delay: 100ms; }
  .box__galeria .imagen__7 {
    height: 350px;
    width: 200px;
    position: relative;
    bottom: 200px; }
    .box__galeria .imagen__7:hover {
      transform: scale(1.3) translate(15%, -15%);
      z-index: 999;
      transition: transform 1s;
      border: solid 2px white;
      transition-delay: 100ms; }
  .box__galeria .imagen__8 {
    height: 180px;
    width: 300px;
    position: relative;
    bottom: 200px; }
    .box__galeria .imagen__8:hover {
      transform: scale(1.5) translate(10%, -10%);
      z-index: 999;
      transition: transform 1s;
      border: solid 2px white;
      transition-delay: 100ms; }
  .box__galeria .imagen__9 {
    height: 166px;
    width: 300px;
    position: relative;
    bottom: 16px;
    right: 304px; }
    .box__galeria .imagen__9:hover {
      transform: scale(1.5) translate(10%, -20%);
      z-index: 999;
      transition: transform 1s;
      border: solid 2px white;
      transition-delay: 100ms; }
  .box__galeria .imagen__10 {
    height: 300px;
    width: 190px;
    position: relative;
    bottom: 858px;
    left: 818px; }
    .box__galeria .imagen__10:hover {
      transform: scale(1.5) translate(-20%, 10%);
      z-index: 999;
      transition: transform 1s;
      border: solid 2px white;
      transition-delay: 100ms; }
  .box__galeria .imagen__11 {
    height: 350px;
    width: 294px;
    position: relative;
    bottom: 554px;
    left: 520px; }
    .box__galeria .imagen__11:hover {
      transform: scale(1.2) translate(-15%, -15%);
      z-index: 999;
      transition: transform 1s;
      border: solid 2px white;
      transition-delay: 100ms; }
  .box__galeria .imagen__12 {
    height: 200px;
    width: 200px;
    bottom: 930px;
    left: 180px; }
    .box__galeria .imagen__12:hover {
      transform: scale(1.5) translate(-20%, 20%);
      z-index: 999;
      transition: transform 1s;
      border: solid 2px white;
      transition-delay: 100ms; }
  .box__galeria .imagen__13 {
    height: 200px;
    width: 200px;
    bottom: 500px;
    right: 70px; }
    .box__galeria .imagen__13:hover {
      transform: scale(1.5) translate(-20%, -10%);
      z-index: 999;
      transition: transform 1s;
      border: solid 2px white;
      transition-delay: 100ms; }

/* Turno online */
.formulario__box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 550px;
  background: #c0fdff;
  background: radial-gradient(circle, #f0eaea 0%, #d0d1ff 80%);
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

footer {
  background-color: #efe6fb;
  margin-bottom: 0;
  margin-top: 30px;
  border-top: 5px double #9D4EDD;
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  font-size: 1.2em; }
  footer div {
    margin: 0; }

/* Media 1024-1080 */
@media only screen and (min-width: 1024px) and (max-width: 1080px) {
  .index__box--left .index__imagen--left {
    position: relative;
    right: 30px; }
  .index__box--right .index__imagen--right {
    position: relative;
    left: 30px; }
  body {
    background-size: 70%; } }

/* Media 768-1023px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    background-size: 70%; }
  .index__box--left .index__imagen--left {
    position: relative;
    right: 30px; }
  .index__box--right .index__imagen--right {
    position: relative;
    left: 30px; }
  footer div {
    margin-top: 20px; }
  .servicios__box {
    flex-direction: column;
    width: fit-content;
    align-items: center; }
    .servicios__box .servicios__texto {
      margin-top: 20px; }
  .box__galeria {
    width: 764px;
    height: 650px; }
    .box__galeria img {
      transform: scale(0.75); }
    .box__galeria .imagen__0 {
      position: relative;
      bottom: 50px;
      right: 24px; }
    .box__galeria .imagen__1 {
      position: relative;
      bottom: 25px;
      right: 86px; }
    .box__galeria .imagen__2 {
      position: relative;
      bottom: 429px;
      left: 322px; }
    .box__galeria .imagen__3 {
      position: relative;
      bottom: 492px;
      left: 80px; }
    .box__galeria .imagen__4, .box__galeria .imagen__12, .box__galeria .imagen__13 {
      position: relative;
      left: 50px;
      bottom: 680px; }
    .box__galeria .imagen__5 {
      position: relative;
      right: 228px;
      bottom: 639px; }
    .box__galeria .imagen__6 {
      position: relative;
      bottom: 441px;
      right: 432px; }
    .box__galeria .imagen__7 {
      position: relative;
      bottom: 827px;
      left: 130px; }
    .box__galeria .imagen__8 {
      position: relative;
      bottom: 806px;
      left: 68px; }
    .box__galeria .imagen__9 {
      position: relative;
      bottom: 1020px;
      left: 272px; }
    .box__galeria .imagen__10 {
      position: relative;
      bottom: 1404px;
      left: 289px; }
    .box__galeria .imagen__11 {
      position: relative;
      bottom: 1485px;
      left: 502px; }
    .box__galeria .imagen__12 {
      position: relative;
      bottom: 1750px;
      left: 180px; }
    .box__galeria .imagen__13 {
      position: relative;
      bottom: 1400px;
      left: auto; } }

/* Media <767px */
@media only screen and (max-width: 767px) {
  body {
    background-size: 90%; }
  footer div {
    margin-top: 20px; }
  .wspLink {
    width: 35px;
    height: 35px;
    right: 10px;
    bottom: 10px; }
  .wspLink a img {
    max-width: 100%;
    max-height: 100%; }
  .titulo {
    font-size: 2.5em;
    margin-bottom: 30px; }
  .subtitulo {
    font-size: 1.2em;
    padding-bottom: 15px; }
  .subtitulo--big {
    font-size: 1.2em; }
  .texto, .subtitulo--center, .subtitulo--big {
    font-size: 0.8em; }
  .servicios__box {
    flex-direction: column;
    flex-wrap: nowrap;
    height: fit-content;
    width: 280px;
    align-items: center; }
    .servicios__box .servicios__texto {
      width: 200px;
      margin-top: 20px; }
    .servicios__box img {
      height: 165px;
      width: 220px; }
  .subtitulo--center {
    font-size: 1.2em; }
  .index__box--left {
    flex-direction: column;
    justify-content: flex-start;
    height: 330px;
    width: 280px; }
    .index__box--left .index__imagen--left {
      width: 210px;
      height: 150px;
      position: relative;
      right: auto;
      bottom: 20px; }
    .index__box--left p {
      margin-left: 10px;
      margin-top: 0px; }
  .index__box--right {
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 330px;
    width: 280px; }
    .index__box--right .index__imagen--right {
      width: 210px;
      height: 150px;
      position: relative;
      left: auto;
      bottom: 20px; }
    .index__box--right p {
      margin-left: 10px;
      margin-top: 0px; }
  .card {
    height: 200px;
    margin: 10px; }
    .card .precios__texto {
      font-size: 1.5em; }
  .main__promociones {
    height: 250px; }
    .main__promociones .carousel .promociones__box {
      height: 220px;
      width: 280px; }
      .main__promociones .carousel .promociones__box .texto--promociones {
        font-size: 0.8em;
        width: 200px; }
  .box__galeria {
    width: 310px;
    height: 300px; }
    .box__galeria .imagen__0 {
      height: 120px;
      width: 60px; }
    .box__galeria .imagen__1 {
      height: 60px;
      width: 90px; }
    .box__galeria .imagen__2 {
      height: 60px;
      width: 150px;
      position: relative;
      bottom: 124px;
      left: 158px; }
    .box__galeria .imagen__3 {
      height: 90px;
      width: 182.4px;
      position: relative;
      bottom: 125px;
      left: 64px; }
    .box__galeria .imagen__4, .box__galeria .imagen__12, .box__galeria .imagen__13 {
      height: 60px;
      width: 60px;
      border: solid 3px white;
      position: relative;
      left: auto;
      right: 150px;
      bottom: 80px; }
    .box__galeria .imagen__5 {
      height: 75px;
      width: 60px;
      position: relative;
      bottom: 158px;
      left: 0px; }
    .box__galeria .imagen__6 {
      height: 60px;
      width: 60px;
      position: relative;
      bottom: 80px;
      right: 64px; }
    .box__galeria .imagen__7 {
      height: 105px;
      width: 60px;
      position: relative;
      bottom: 125px;
      right: 64px; }
    .box__galeria .imagen__8 {
      height: 54px;
      width: 90px;
      position: relative;
      bottom: 126px;
      right: 64px; }
    .box__galeria .imagen__9 {
      height: 49.8px;
      width: 90px;
      position: relative;
      bottom: 179px;
      left: 128px; }
    .box__galeria .imagen__10 {
      height: 90px;
      width: 57px;
      position: relative;
      bottom: 328px;
      left: 156px; }
    .box__galeria .imagen__11 {
      height: 105px;
      width: 88.2px;
      position: relative;
      bottom: 234px;
      left: 66px; }
    .box__galeria .imagen__12 {
      height: 60px;
      width: 60px;
      position: relative;
      bottom: 460px;
      left: 210px; }
    .box__galeria .imagen__13 {
      height: 60px;
      width: 60px;
      position: relative;
      bottom: 310px;
      left: 125px; }
  .formulario__box {
    width: 280px;
    height: 400px; } }

.navbar-nav a:hover {
  background-color: #9D4EDD;
  color: white;
  border-radius: 20px;
  transition: all 0.5s; }

.card:hover {
  transform: scale(1.2, 1.2);
  transition: all 1s; }

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.2, 1.2, 1.2); }
  to {
    transform: scale3d(1, 1, 1); } }

.wspLink:hover {
  animation: pulse 1s; }

@keyframes heartBeat {
  0% {
    transform: scale(1); }
  14% {
    transform: scale(1.3); }
  28% {
    transform: scale(1); }
  42% {
    transform: scale(1.3); }
  70% {
    transform: scale(1); } }

.footer__instagram:hover {
  animation: heartBeat 2s; }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.titulo {
  animation: fadeInDown 1s; }

.subtitulo--center {
  animation: fadeInDown 1s; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

main {
  animation: fadeIn 2s; }
